<?xml version="1.0"?>
<configuration>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="LoginDB.aspx" defaultUrl="~/Authntication(web.config)/Default.aspx">
				<credentials passwordFormat="SHA1">
					<user name="hello" password="password"/>
				</credentials>
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<compilation debug="true"/></system.web>
	<connectionStrings>
		<add name="cnnstring" connectionString="workstation id=databseUser.mssql.somee.com;packet size=4096;user id=info2programmer_SQLLogin_1;pwd=q57be7hsuh;data source=databseUser.mssql.somee.com;persist security info=False;initial catalog=databseUser"/>
	</connectionStrings>
</configuration>
