<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdminPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AdminPanel.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS;AttachDbFilename='C:\Users\Programmer-PC\documents\visual studio 2010\Projects\AuthenticationProject\AuthenticationProject\App_Data\db_Authentication.mdf';Integrated Security=True;User Instance=True</value>
            </setting>
        </AdminPanel.Properties.Settings>
    </userSettings>
  <connectionStrings>
    <add name="cnnstring" connectionString="workstation id=databseUser.mssql.somee.com;packet size=4096;user id=info2programmer_SQLLogin_1;pwd=q57be7hsuh;data source=databseUser.mssql.somee.com;persist security info=False;initial catalog=databseUser"/>
  </connectionStrings>
</configuration>